<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>GAN을 이용한 캐릭터 특성에 따른 얼굴 생성 웹-ㄴㅇㅋPROJECT</title>
  <!-- MDB -->
  <link rel="stylesheet" href="static/css/mdb.min.css"/>
  <!-- Custom styles -->
  <link rel="stylesheet" href="satatic/css/style.css"/>
  <!-- 나눔 바른 고딕 웹 폰트 적용하기 -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">
</head>

<body style="background-color: rgba( 0, 0, 0, 0.025 )">
  <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index:3">
    <div class="container-fluid" id="middle">
      <!-- Navbar brand -->
      <a class="navbar-brand nav-link" target="_self" href="./" > <!--새로고침-->
        <img src="static\img\logo.png" height="125" width="125" align=left ><!--로고 이미지-->
      </a>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="./introduction" target="_self" style="font-size:25px;color:#000000;font-family:'Nanum Barun Gothic';font-weight:bold">소개</a>
            </li>
          </ul>
        </div>
        <a style="font-size:20px;color:#000000;font-weight:bold;font-family:'Nanum Barun Gothic';text-align:top">아주대학교 융합캡스톤디자인2021</a> 
    </div>
  </nav>
</body>



    <!-- Navbar -->  

